name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.1', '3.2', '3.3']
    env:
      SPEC_VERBOSE: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: docker://thekuwayama/openssl:latest
      - name: Set up Ruby
        uses: ruby/setup-ruby@eaecf785f6a34567a6d97f686bbb7bccc1ac1e5c # v1.237.0
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: |
          gem --version
          gem install bundler:2.6.9
          bundle --version
          bundle install
      - name: Run rubocop
        run: bundle exec rake rubocop
      - name: Run rspec
        run: bundle exec rake spec
      - name: Run interop client
        run: bundle exec rake interop:client
      - name: Run interop server
        run: bundle exec rake interop:server
