name: workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.6.x', '2.7.x']
    steps:
      - uses: docker://thekuwayama/openssl:latest
      - name: Set up Ruby
        uses: actions/setup-ruby@v1
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: |
          gem install bundler
          bundle install
      - name: Run test
        run: |
          bundle exec rake
          bundle exec rake interop:client
          bundle exec rake interop:server
